<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="MechE and Physics person who also really likes birds"/>
  <title>{{ title }}</title>
  <link rel="icon" type='image/x-icon' href="/images/favicon.ico">

  <link rel="stylesheet" href="/bundle.css">

  <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
        };
  </script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>
<body>
  <div class="topnav" id="tn">
        <div class="billy">
            <a class = 'name' href="/">
                <img src="/images/billy.png" title="Hi! I'm Billy, a rock pigeon." height=50px width=60px class='img-fluid' alt="billy">
            </a>
        </div>

        <div class="dropdown-menu" id="dropdown-menu-id">
            <input type="checkbox" id="expand-toggle">

            <label for="expand-toggle" id="expand-btn">
                <div class="expand-menu">
                    <div class="menu-name" id="menuuuu">
                        Menu
                    </div>
                    <div class="menu-arrow">
                        ▼
                    </div>
                </div>
            </label>

            <div class="menu-sublinks-holder">
                <div class="menu-sublinks">
                    <div>
                        <a href="/">Home</a>
                    </div>
                    <div>
                        <a href="/resume/">Resume</a>
                    </div>
                    <div>
                        <a href="/projects/">Projects</a>
                    </div>
                    <div>
                        <a href="/blog/">Blog</a>
                    </div>
                    <div>
                        <a href="/bird/">Bird</a>
                    </div>
                    <div>
                        <a href="/hobbies/">Hobbies</a>
                    </div>
                </div>
            </div>
            
        </div>

        <!--
        <div class="sublinks">
            <a class="active" href="/">Home</a>
            <a href="resume/">Resume</a>
            <a href="projects/">Projects</a>
            <a href="blog/">Blog</a>
            <a href="hobbies/">Hobbies</a>
        </div>-->
    </div>

  <!-- -->
  <div class="content">
    <!-- 
    <header class="header container">
    <h1 class="header__title">
      <a href="/">Angelica Knudsen</a>
    </h1>
    <ul class="header__links">
      <li>
        <a class="header__link" href="/resume">Resume</a>
      </li>
      <li>
        <a class="header__link" href="/projects">Projects</a>
      </li>
    </ul>
    </header> -->
    <main class="main container">
      {{ content | safe }}
    </main>

    <div class='back-to-top'>
       <a href="#" onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">
            ↑ Back to top
        </a>
    </div>
  </div>

  <div class="bottomnav">
        <div class="contact-links">
            <a href="mailto:angelica.knudsen05@gmail.com" title="Email">
                <div class="email-logo">
                    <img src="/images/email-icon.svg" alt="email-icon">
                </div>
            </a>
            <a href="https://www.linkedin.com/in/angelicaknudsen/" title="Linkedin">
                <div>
                    <img src="/images/linkedin.svg" alt="linkedin-icon">
                </div>
            </a>
            <a href="https://github.com/angelicaknudsen" title="GitHub">
                <div>
                    <img src="/images/github_logo.svg" alt="github-icon">
                </div>
            </a>
        </div>

        <div class="copyright">
            <p>
                &copy; Angelica Knudsen 2025
            </p>
        </div>
    </div>

    <script src="filters.js"></script>
</body>
</html>