---
layout: "base.njk"
permalink: "/blog/{{ self }}/"
---

<div class='top-layout'>
    <a href="/">home</a> /
    <a href="/blog">blog</a> /
    <a href="/blog/{{ self }}">{{ self }}</a>
</div>


<div class='project-banner' style='background-image: url("{{ bannerImage }}")'>
    <div class = 'backdrop'>
        <h1>
            {{ title }}
        </h1>
    </div>
</div>

<p class="date">
   Date: {{ displayDate }}
</p>

{{ content | safe }}

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<div class = 'seeMore'>
    <h3>
        See more
    </h3>
    <ul>
        {% if nextPost %}
        <li>
            Next:
            <a href="{{ nextPost.url }}">
                {{ nextPost.data.title }}
            </a>
        </li>
        {% endif %}

        {% if previousPost %}
        <li>
            Previous:
            <a href="{{ previousPost.url }}">
                {{ previousPost.data.title }}
            </a>
        </li>
        {% endif %}
    </ul>
</div>

