---
layout: "base.njk"
---

<div class='top-layout'>
    <a href="/">home</a> /
    <a href="/projects">projects</a> /
    <a href="/projects/{{ self }}">{{ self }}</a>
</div>


<div class="project-banner" style='background-image: url("{{ image }}")'>
    <div class='backdrop'>
        <h1 class="project-banner-title">
        {{ title }}
        </h1>
    </div>
</div>

<p class="date">
   {{ timeline }}
</p>

{{ content | safe }}


<h2></h2>

{% set previousProject = collections.projects | getPreviousCollectionItem(page) %}
{% set nextProject = collections.projects | getNextCollectionItem(page) %}


<div>
    <h3>
        See more
    </h3>
    <ul>
        {% if nextProject %}
        <li>
            Next:
            <a href="{{ nextProject.url }}">
                {{ nextProject.data.title }}
            </a>
        </li>
        {% endif %}

        {% if previousProject %}
        <li>
            Previous:
            <a href="{{ previousProject.url }}">
                {{ previousProject.data.title }}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
