*:focus {
    box-shadow: inset 0px 0px 0px 1px rgba(148, 148, 148, 0.482);
}

body {
    background-color: rgb(13, 13, 13);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0px;
}

body .main {
    max-width: 80ch;
    margin: auto;
    padding: 2ch;
    z-index: 4;
}

figure {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

sup, sup a {
    line-height: 2px;
}

.blog-text a:has(sup) {
    text-decoration: none;
}

sup{
    text-decoration: none;
}

figcaption {
    text-align: center;
}

figure>figcaption {
    width: 80%;
}

p {
    margin: 0;
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
}

dt {
    font-weight: bold;
    font-size: 18px;
}

ul {
    margin: 0;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 28px;
}

dd {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 28px;
}

a {
    color: rgb(121, 215, 255);
    /* text-decoration: none; */
    transition: 0.3s color;
    font-size: 18px;
}

a:hover {
    color: rgb(195, 237, 255);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px, 2px, #ffd6d6;
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight:700;
}

h3 {
    margin-bottom: 0px;
    font-size: 25px;
}

h4 {
    margin-bottom: 3px;
    font-size: 21px;
}

figure img {
    max-width: min(100%, 80vw);
    max-height: 200px;
    margin-top: 0.7em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 5px;

    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

section {
    margin-bottom: 30px;
    margin-top: 30px;
}

.topnav a.name {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
    /* background-color: rgb(0, 0, 0); */
    /* border-bottom: 1px solid #1b1b1b; */
    box-shadow: 0px 5px 10px #1b1b1b;
    padding: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    overflow: hidden;
    z-index: 3;
}

.sublinks {
    display: flex;
    float: right;
    padding-block: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: rgb(85, 85, 85);
    text-align: center;
    padding: 10px 10px;
}

.topnav .sublinks a {
    float: right;
    display: block;
    color: rgb(150, 150, 150);
    text-align: center;
    padding: 5px 10px;
    transition: 0.3s color;
}

/* Change the color of links on hover */
.topnav .sublinks a:hover {
    color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
    color: rgb(255, 255, 255);
}

/*
.dropbtn {
    background-color: #d0ecff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
} */

/* Dropdown button on hover & focus */

/*
.dropbtn:hover,
.dropbtn:focus {
    background-color: #7fbfe9;
} */



/* The container <div> - needed to position the dropdown content */

/*
  .dropdown {
    position: relative;
    float: right;
    display: inline-block;
  }
*/

/* Dropdown Content (Hidden by Default) */

/*
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
} */

/* Links inside the dropdown */

/*
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}*/


/* Change color of dropdown links on hover */

/*
.dropdown-content a:hover {
    background-color: #ddd;
} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.billy {
    display: block;
    overflow: hidden;
    margin-left: 0px;
}

.billy a {
    margin-left: 0px;
    transition: 0.3s;
    overflow: hidden;
}

.billy:has(a:focus) {
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.482);
}

.billy a:hover {
    /* content: url('images/billy_hover.png'); */
    /* opacity: 0.7; */
    filter: brightness(130%);
    transform: scale(1.05);

}

img.img-fluid {
    display: block;
}

.date {
    margin-top: -10px;
    color: rgb(149, 149, 149);
    text-align: center;
}

.table-of-contents {
    margin-top: 10px;
    margin-bottom: 0px;
}

ol {
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0px;
}

li {
    padding: 3px;
    line-height: 28px;
}

.copyright {
    color: rgb(150, 150, 150);
}

html {
    scroll-behavior: smooth;
}

.tn {
    text-align: center;
}

/* .project-gallery a:hover img {
    opacity: 0.3;
    filter: blur(3px);
} */

.project-gallery img {
    margin: auto;
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    transition: 0.3s;
}

/* working on dropdown menu */

.dropdown-menu {
    color: rgb(150, 150, 150);
    transition: 0.3s color;
    font-size: 18px;
    overflow: hidden;
}

.expand-menu {
    display: none;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;
    margin: 10px;
}

#expand-toggle {
    display: none;
}

.dropdown-menu .menu-arrow {
    font-size: 7px;
    display: flex;
    align-items: center;
    transition: 0.3s transform;
}

/* .expand-menu:hover {
    color: rgb(255, 255, 255);
} */

.dropdown-menu:hover{
    color: white;
}

.dropdown-menu:hover .menu-arrow {
    transform: rotate(180deg);
}

.dropdown-menu:has(a:focus) .menu-arrow {
    transform: rotate(180deg);
}

.dropdown-menu:has(a:focus) .menu-sublinks-holder .menu-sublinks {
    transform: translate(0px, 0px);
    opacity: 1;
}

.dropdown-menu:hover .menu-sublinks-holder .menu-sublinks {
    transform: translate(0px, 0px);
    opacity: 1;
}

/* #expand-toggle:checked ~ #expand-btn .expand-menu {
    color: rgb(255, 255, 255);
}

#expand-toggle:checked ~ #expand-btn .menu-arrow {
    transform: rotate(180deg);
}

#expand-toggle:checked ~ #expand-btn ~ .menu-sublinks-holder .menu-sublinks {
    transform: translate(0px, 0px);
    opacity: 1;
}

#expand-toggle:checked ~ #expand-btn ~ .menu-sublinks-holder{
    height: auto;
    border-top: 1px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 10px #1b1b1b;
} */

.menu-sublinks {
    display: flex;
    overflow: hidden;
    background: rgb(11, 11, 11);
    transition-delay: 1s;
    transition-property: height;
    transition: 0.3s;
    width: 100%;
    z-index: 1;
    margin: auto;
}

.menu-sublinks a {
    color: rgb(150, 150, 150);
    transition: 0.3s;
    text-align: right;
}

.menu-sublinks a:hover {
    color: rgb(255, 255, 255);
}

.bottomnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -5px 10px #1b1b1b;
    padding-bottom: 30px;
}

.contact-links {
    height: 100px;
    align-items: center;
    margin: auto;
    display: flex;
    gap: 30px;
}

.contact-links div {
    display: flex;
    align-items: center;
    vertical-align: middle;
    aspect-ratio: 1/1;
    padding: 10px;
    background: rgb(90, 90, 90);
    border-radius: 100%;
    transition: 0.3s;
}

.contact-links a {
    padding: 0px;
    margin: 0px;
}

.contact-links a:hover div {
    background: rgb(150, 150, 150);
    box-shadow: 0px 0px 12px rgb(150, 150, 150);
}

.contact-links img {
    margin: auto;
    width: 25px;
    filter: brightness(0.1);
    opacity: 1;
}

.blog-links {
    display: grid;
    row-gap: 20px;
}


.blog-links section {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(13, 13, 13);
    border-radius: 10px;
    /* border: 1px solid #1b1b1b; */
    box-shadow: 0px 0px 10px #2f2f2f;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: grid;
    height: 200px;
    grid-template-columns: 3fr 2fr;
}

.blog-links div{
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.blog-links img {
    object-fit: cover;
    object-position: center;
    height: 50px;
}

.blog-links section:hover {
    box-shadow: 0px 0px 10px #6d6d6d;
    background-color: #161616;
}

.blog-links h3 {
    margin-top: 0px;
    font-size: 20px;
    color: white;
}

.blog-text p {
    margin-top: 5px;
}

.blog-links dd {
    color: rgb(255, 255, 255);
}

.blog-links a {
    text-decoration: none;
}

.blog-links p {
    color: rgb(150, 150, 150);
}

/* creating better about me */

/* .about-me {
    display: flex;
    gap: 20px;
    align-content:flex-start;
} */

.about-me section {
    margin: 0px;
}

.about-me h2 {
    margin-top: 0px;
}

.about-me div {
    display: flex;
    align-items: center;
}

.about-me img {
    margin: 20px;
    object-fit: cover;
    margin: auto;
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.portfolio-base {
    display: grid;
}

.top-layout {
    color:rgb(85, 85, 85);
}

.top-layout a {
    color:rgb(150, 150, 150);
}
.top-layout a:hover {
    color: white;
}

.back-to-top {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.back-to-top a {
    color: rgb(150, 150, 150);
}

.back-to-top a:hover {
    color: white;
}

/* .project-gallery a {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    background-size: cover;
    aspect-ratio: 4/3;
    font-size: 8px;
    /* width: calc((100% - 4px)/3); */
    /* filter: brightness(1);
    transition: 0.3s opacity;
    overflow: hidden;
    border-radius: 5px;
} */

/* .project-banner {
    color: #ffffff !important;
}

.project-banner div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 80%;
} */

.project-banner {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-color: white;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(13, 13, 13);
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px rgb(43, 43, 43);
    /* box-shadow: 0px 0px 10px #2f2f2f; */
    overflow: hidden;
}

.project-banner .backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.2);
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-banner h1 {
    width: 80%;
}

.project-gallery .projectIndex {
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    backdrop-filter: brightness(0.3);
    display: flex;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(13, 13, 13);
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px rgb(43, 43, 43);
}

.birdIndex {
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    backdrop-filter: brightness(0.3);
    display: flex;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(13, 13, 13);
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px rgb(43, 43, 43);
}

/* .project-banner-title {
    font-size: max(2.5em, 80%);
} */

.project-gallery {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px;
    gap: 4px;
    background-color:rgb(13, 13, 13);
}

.project-gallery a {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    aspect-ratio: 4/3;
    font-size: 8px;
    /* width: calc((100% - 4px)/3); */
    transition: 0.3s;
    overflow: hidden;
    width: 120%;
    height: 120;
    margin: 0px;
    backdrop-filter: brightness(0.3);
    text-decoration: none;
}

.project-gallery a:hover {
    backdrop-filter: brightness(0.3) blur(5px);
}

.project-gallery p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 80%;
    margin: auto;
}

.project-gallery .backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* backdrop-filter: brightness(0.3); */
    align-content: center;
    overflow: hidden;
}

figcaption div {
    color: rgb(150, 150, 150);
}

.bird-gallery img {
    width: 100%;
}

.bird-gallery p {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.bird-gallery .one-line {
    padding-top: 5px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.bird-gallery section {
    margin-top: 20px;
}

.bird-gallery img {
    border-radius: 20px;
}

.all-birds-i-know {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    gap: 5px;
}

.scrollTopBottom {
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    aspect-ratio: 1;
    /* width: 0px; */
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background-color: rgb(30, 30, 30, 0.7);
    font-size: 1.5ch;
    font-weight: bold;
    color: #777;
    overflow: hidden;
    user-select: none;
    transition: 0.5s opacity, 0.3s background-color;
    backdrop-filter: blur(5px);
}

.scrollTopBottom:hover {
    background-color: rgba(50, 50, 50, 0.7);
}

.scrollTopBottom div {
    position: relative;
    transform: rotate(-90deg) translateX(-1px);
}

.blogpost-backdrop {
    height: 100%;
    padding: 10px;
}

.blog-pic {
    width: 60%;
}

.blog-pic-tall {
    width: 50%;
}

.seeMore {
    color: rgb(150, 150, 150);
}

.caption {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 10px;
}

table, table th, table td {
    font-size: 18px;
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}

table th, table td {
    padding: 7px;
}

table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-image-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 300px;
    margin: 5px;
}

.project-image {
    padding: 15px;
    height: 100%;
}

.project-image img {
    height: 100%;
}

.project-interactive-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-content: center;
    height: 400px;
}

.project-interactive{
    width: 90%;
    border-radius: 20px;
}

.project-image-caption {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.project-image-caption p {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .topnav {
        margin-left: auto;
        margin-right: auto;
    }

    .topnav a.name {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /*
    .img-fluid {
        float: none;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -70px;
    } */


    .billy {
        float: left;
    }

    .sublinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        float: none;
        width: 100%;
    }

    .project-gallery {
        grid-template-columns: 1fr !important;
    }

    .project-gallery p {
        font-size: 5ch;
    }

    .portfolio-base {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .project-banner {
        aspect-ratio: 4/3 !important;
    }

    .project-banner-title {
        font-size: 2em !important;
    }

    .menu-sublinks-holder {
        position: absolute;
        overflow: hidden;
        transform: translate(-30px);
        height: 0px;
        z-index: 2;
        transition: 0.3s;
        width: 110px;
    }
    
    .menu-sublinks {
        display: block !important;
        position: relative !important;
        opacity: 0;
        overflow: hidden;
        transform: translate(0px, -100%);
        background: rgb(11, 11, 11);
        transition-delay: 1s;
        transition-property: height;
        transition: 0.3s;
        width: 100%;
        z-index: 1;
        margin: auto;
    }
    
    .menu-sublinks a {
        color: rgb(150, 150, 150);
        transition: 0.3s;
        width: 100% !important;
        text-align: right;
    }

    .dropdown-menu:hover .menu-sublinks-holder{
        height: auto;
        border-top: 1px solid rgb(150, 150, 150);
    }

    .expand-menu {
        display: flex !important;
    }

    .dropdown-menu:has(a:focus) .menu-sublinks-holder{
        height: auto;
        border-top: 1px solid rgb(150, 150, 150);
        box-shadow: 0px 0px 10px #1b1b1b;
    }

    .all-birds-i-know {
        grid-template-columns: 1fr !important;
    }

    .blog-links section {
        grid-template-columns: 1fr;
        height: auto;
    }

    .blog-links .blogpost-backdrop {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .blog-links .background-image {
        box-shadow: 0px 0px 10px #1b1b1b;
        aspect-ratio: 4/3;
    }

    .blog-pic {
    width: 100%;
    }

    .blog-pic-tall {
        width: 80%
    }

    .project-image-container {
    display: block;
    /* padding: 10px; */
    justify-content: center;
    height: auto;
    width: 100%;
    }

    .project-image{
    padding: 5px;
    justify-content: center;
    margin: auto;
    width: 42%;
    }

    .project-image img{
        width: 100%;
        height: auto;
    }
}