
body {
    background-color: rgb(26, 26, 26);
    color: rgb(252, 245, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 80ch;
    margin: auto;
    padding: 2ch;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

figcaption {
    text-align: center;
}

dd {
    font-size: 15px;
    font-weight:320;
}

a {
    color: rgb(222, 207, 255);
}

h1 {
    text-align: center;
}

img {
    max-width: min(100%, 80vw);
    max-height: 200px;
}


/* Add a black background color to the top navigation */
.topnav {
background-color: #2c2b2e;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color:  rgb(252, 245, 255);
text-align: center;
padding: 10px 16px;
text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #f7eeff;
color: rgb(9, 0, 20);
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #9281aa;
color: #f7eeff;
}