---
title: "Blog"
layout: "base.njk"
---

<h1>
    {{ title }}
</h1>

<p>
    I have big thoughts.
</p>


<div class="blog-links">
    <h2>
        Posts
    </h2>

    <!--
    <a href="the-issue-with-carbon-capture-technology/">
        <section>
            <h3>
                The Issue with Carbon Capture Technology
            </h3>

            <dd>
                Entropy is a very real thing.
            </dd>

            <p>
                Updated: WIP
            </p>
        </section>
    </a>-->

    <a href="/posts/why-hummingbirds-are-amazing">
        <section>
            <h3>
                Why Hummingbirds Are Amazing
            </h3>
            <dd>
                I love hummingbirds, and you should too.
            </dd>

            <p>
                Updated: 01/06/2024
            </p>
        </section>
    </a>
</div>