---
title: "Home"
layout: "base.njk"
---

<h1>Angelica Knudsen</h1>

<div class="about-me">
    <!-- <figure>
        
        <figcaption>Me popping a balloon at the MIT Edgerton Strobe Project Laboratory</figcaption>
    </figure> -->
    <div>
        <img src="/images/me.jpg" alt="Image of myself" class="center"/>
    </div>
    

    <section>
        <h2>
            About Me
        </h2>
    
        <p>
            Pronouns: they/them
        </p>
    
        <p>I like to go by Jelly (like the food). I am an undergraduate student at MIT double majoring in Mechanical Engineering (with Energy) and Physics.
            I am also a big bird person, with my current favorite bird being the American Crow.
        </p>

        <p>
            Talk to me about birds, sustainability, mechanical engineering, physics, or whatever! Some of my ramblings
            will be posted to my (WIP) <a href="blog/">blog</a>.
        </p>
    
    </section>
</div>