---
title: "Resume"
layout: "subpage.njk"
self: "resume"
---

<h1>
  {{ title }}
</h1>

<p class="anchors">
            Jump to 
            <!--
            <a href="#edu-anchor">Education</a>, 
            -->
            <a href="#exp-anchor">Experience</a>, 
            <a href="#ski-anchor">Skills</a>,
    
            <!--
            <a href="#awa-anchor">Honors/Awards</a>, and
            -->
            and <a href="/projects">Projects</a> (separate page).
        </p>
    
        <p>
            My one-page resume is <a href="/images/Angelica Knudsen Resume - Fall 2024.pdf">here</a>,
            but this page includes much more information about my experience and skills.
        </p>
        
<section>
    <h2 id="exp-anchor">
        Experience
    </h2>

    <dl>
        <dt>MIT Wind Team Member (Mechanical Engineering Subteam)</dt>
        <dd>Part of U.S. Department of Energy's <a href="https://www.energy.gov/eere/collegiatewindcompetition/collegiate-wind-competition">Collegiate Wind Competition (CWC)</a></dd>
        <dd>Feb 2025-Present</dd>
        <ul>
            <li>
                Building a mini floating offshore wind turbine as part of 2025 CWC prompt
            </li>
        </ul>
    </dl>

    <dl>
        <dt>4-409 (Edgerton Center Student Project Lab) Shop Mentor</dt>
        <dd>MIT Edgerton Center</dd>
        <dd>Sep 2024-Present</dd>
        <ul>
            <li>
                Helping members navigate the shop and use the tools properly
            </li>
        </ul>
    </dl>

    <dl>
        <dt>SuperUROP Researcher at Hatsopoulos Microfluids Laboratory</dt>
        <dd>MIT Department of Mechanical Engineering</dd>
        <dd>Sep 2024-May 2025</dd>
        <ul>
            <li>Measuring static contact angle of water drop on feathers of ruby-throated hummingbird using contact angle goniometer
            </li>
            <li>Assessing structures of iridescent and non-iridescent feathers
                  using optical microscopy and scanning electron microscopy
            </li>
            <li>
                Synthetically reconstructing feathers to compare properties with those of hummingbird feathers, which are unique
            in their superhydrophobicity and iridescence
            </li>
            <li>
                Performing in-depth literature research to discover evolutionary reason behind hummingbirds' special feathers
            </li>
            <li>
                Project linked <a href="/projects/how-hummingbird-feathers-make-light-dance-and-water-bounce/">here</a>
            </li>
        </ul>
    </dl>

    <dl>
        <dt>K-12 Teaching Assistant</dt>
        <dd>MIT Edgerton Center</dd>
        <dd>Apr 2024-Aug 2024</dd>
        <ul>
            <li>
                Helped kids learn STEM concepts in the classroom
            </li>
            <li>
                Lessons assisted include "Traffic Light Building", "Gear Up Gear Down", "For the Birds" (my favorite), and
                many more
            </li>
            <li>Involved in development of lessons, including "Flooding the 02139", where I used CAD to design and 3D print PVC supports
                to hold up a line, which pulls rafts that the kids built down a mini acrylic replica of Binney street
            </li>
        </ul>
    </dl>

    <dl>
        <dt>8.02 (Electricity and Magnetism) Teaching Assistant</dt>
        <dd>MIT Department of Physics</dd>
        <dd>Feb 2024-May 2024</dd>
        <ul>
            <li>
                Helped students in lecture
            </li>
            <li>
                Graded for Friday Problem Solving (FPS) and in-class experiments
            </li>
        </ul>
    </dl>

    <dl>
        <dt>Sea Grant Undergraduate Researcher</dt>
        <dd>MIT Sea Grant</dd>
        <dd>Jun 2023-Jul 2023</dd>
        <ul>
            <li>
                Worked towards main objective of UROP (Undergraduate Research Opportunities Program) of advancing understanding of coastal acidification on the Gulf of Maine
            </li>
            <li>
                Incorporated new measurement methods for Manta +35 and Hanna sensors
            </li>
            <li>
                Prepared beakers using loss-on-ignition and calibrated Manta +35, Hanna, and YSI Castaway sensors
            </li>
            <li>
                Researched which calibration standards were necessary for new sensor attachments and documented methods in sensors' SOPs
            </li>
            <li>Visited oyster nurseries and farms and deployed Hanna and Manta +35 sensors for two week long periods to track patterns in
                salinity, chlorophyll, pH, and temperatures of water at sites
            </li>
            <li>Recorded haloclines (salinity gradients) and thermoclines (temperature gradients) at each visit using YSI Castaway to reveal information about tide trends
            </li>
            <li>
                Used Python to process and model the data onto a user interface, where users can easily shuffle through graphs of different parameters (linked <a href="/projects/data-processor-and-grapher/">here</a>)
            </li>
            
        </ul>

    </dl>

    <dl>
        <dt>Information Technology Service Center Intern</dt>
        <dd>Altru Health System</dd>
        <dd>Jun 2021-Jul 2022</dd>
        <ul>
            <li>
                Unboxed and imaged PCs
            </li>
            <li>
                Assisted IT specialists on runner requests (calls to fix immediate issues)
            </li>
        </ul>
    </dl>
</section>

<section>
    <h2 id="ski-anchor">
        Skills
    </h2>
    <dl>
        <dt>Languages</dt>
        <ul>
            <li>
                Python
            </li>
            <li>
                C++
            </li>
            <li>
                MATLAB
            </li>
            <li>
                HTML/CSS
            </li>
        </ul>

        <dt>Microsoft Office</dt>
        <ul>
            <li>
                Excel
            </li>
            <li>
                Word
            </li>
            <li>
                Powerpoint
            </li>
        </ul>

        <dt>CAD</dt>
        <ul>
            <li>
                Autodesk Fusion 360
            </li>
            <li>
                Rhino
            </li>
            <li>
                SOLIDWORKS
            </li>
        </ul>

        <dt>Manufacturing</dt>
        <ul>
            <li>
                Laser cutter
            </li>
            <li>
                Mill
            </li>
            <li>
                Band Saw
            </li>
            <li>
                Belt Sander
            </li>
            <li>
                Dremel
            </li>
            <li>
                Drill Press
            </li>
            <li>
                Lathe
            </li>
            <li>
                3D Printing (used Bambu, MakerBot, Prusa, and Creality)
            </li>
        </ul>

        <dt>Ornithology</dt>
        <ul>
            <li>
                Can identify 200+ bird species (all birds I listed from my memory <a href="/birds/#all-birds-i-know">here</a>)
            </li>
            
            <li>
                Can recognize/identify scores of bird calls
            </li>
            <li>
                WILL bother you with bird facts in Wingspan (bird-themed boardgame)
            </li>
        </ul>
    </dl>
</section>